.header{
  padding: 20px 0;
  background-color: rgba($black, .7);
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include laptop{
    padding: 12px;
  }
  .row{
    @include laptop{
      justify-content: space-between;
      margin: 0;
    }
  }
  .container{
    @include desktopxminlg{
      margin-right: 4%;
    }
    @include desktop{
      margin-right: 8%;
    }
    @include laptop{
      margin-right: 0;
    }
  }
}
.header__menu-btn{
  display: none;
  @include laptop{
    cursor: pointer;
    display: block;
    font-size: 24px;
  }
}
.header__logo{
  margin-right: 40px;
  width: 165px;
  @include laptop{
    margin-right: 0;
  }
  svg{
    display: block;
  }
  @include laptop{
    width: 110px;
  }
}
.header__menu{
  margin-right: 26px;
  @include laptop{
    margin-right: 0;
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    transform: translate3d(0,-50px,0);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
    z-index: -2;
    padding: 20px;
    background-color: #262626;
  }
  &.active{
    @include laptop{
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
      z-index: 99;
    }
  }
}
.header__menu-list{
  margin-left: -20px;
  @include laptop{
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(#F4F4F4, .8);
    margin-left: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
.header__menu-list-item{
  margin-left: 20px;
  a{
    letter-spacing:.09em;
    line-height: 42px;
    color: $lightGray2;
    transition: .22s ease-in-out;
    &.active,
    &.router-link-exact-active{
      color: $white;
      @include segoe(bold);
    }
    &:hover{
      color: $white;
    }
    @include tablet{
      font-size: 12px;
      line-height: 32px;
    }
  }
}
.header__menu-close{
  display: none;
  @include laptop{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 98;
    width: 100%;
    height: calc(100vh - 50px);
  }
  &.active{
    @include laptop{
      display: block;
    }
  }
}
.header__menu-block{
  @include centered(y);
  right: 30px;
  @include laptop{
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0)
  }
}
.header__menu-block-item{
  .router-link-exact-active{
    @include segoe(semibold);
    color: $white;
  }
  &:first-child{
    margin-right: 20px;
    cursor: pointer;
    @include laptop{
      margin-right: 60px;
    }
    &:hover{
      button{
        p{
          color: $white;
        }
        span{
          transform: rotate(-180deg);
        }
      }
      .header__menu-block-item-nav{
        opacity: 1;
        visibility: visible;
      }
    }
    button{
      span{
        transition: .24s ease;
      }
    }
  }
  .btn_transparent{
    span{
      margin-left: 6px;
    }
  }
  a,p{
    color: $lightGray2;
    transition: .22s ease-in-out;
    &:hover{
      color: $white;
    }
  }
}
.header__menu-block-item-nav{
  padding: 8px 20px;
  border: 1px solid rgba(#F4F4F4, .8);
  top: 100%;
  right: 0;
  margin-top: 12px;
  background: $black;
  z-index: 3;
  transition: .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  @include tablet{
    right: auto;
    left: 0;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    margin-bottom: -1px;
    position: absolute;
    bottom: 100%;
    right: 0;
    @include tablet{
      right: auto;
      left: 0;
    }
  }
  a{
    white-space: nowrap;
    line-height: 24px;
  }
}
.header__cta{
  width: 140px;
  height: 40px;
  @include laptop{
    width: 100px;
    height: auto;
  }
}