

.header{
  padding: 20px 0;
  background-color: rgba($black, .7);
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include laptops{
    padding: 12px;
  }
  .row{
    @include laptops{
      justify-content: space-between;
      margin: 0;
    }
  }
}
.header__menu-btn{
  display: none;
  @include laptops{
    cursor: pointer;
    display: block;
    font-size: 24px;
  }
}
.header__logo{
  margin-right: 40px;
  width: 212px;
  @include laptops{
    margin-right: 0;
  }
  svg{
    display: block;
  }
  @include laptops{
    width: 131px;
  }
}
.header__menu{
  margin-right: 26px;
  @include laptops{
    margin-right: 0;
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    transform: translate3d(0,-50px,0);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
    z-index: -2;
    padding: 20px 12px;
    background-color: #262626;
  }
  &.active{
    @include laptops{
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
      z-index: 99;
    }
  }
}
.header__menu-list{
  margin-left: -20px;
  @include laptops{
    flex-direction: column;
    align-items: center;
  }
}
.header__menu-list-item{
  margin-left: 20px;
  a{
    letter-spacing:.09em;
    line-height: 42px;
    color: $lightGray2;
    transition: .22s ease-in-out;
    &.active,
    &.router-link-exact-active{
      color: $white;
      @include segoe(bold);
    }
    &:hover{
      color: $white;
    }
    @include tablet{
      font-size: 12px;
      line-height: 32px;
    }
  }
}
.header__menu-close{
  display: none;
  @include laptops{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 98;
    width: 100%;
    height: calc(100vh - 50px);
  }
  &.active{
    @include laptops{
      display: block;
    }
  }
}