@import '~/assets/styles/helpers.scss';

.header{
  padding: 20px 0;
  background-color: rgba($black, .7);
  backdrop-filter: saturate(180%) blur(15px);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__logo{
  margin-right: 40px;
  width: 212px;
}
.header__menu{
  margin-right: 26px;
}
.header__menu-list{
  margin-left: -20px;
}
.header__menu-list-item{
  margin-left: 20px;
  a{
    letter-spacing:1px;
    letter-spacing:.09em;
  }
}