@mixin segoe($style: regular){
  @if $style == regular  {
    font-family: 'Segoe UI Regular', Arial, Helvetica, sans-serif;
  }
  @if $style == light  {
    font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;
  }
  @if $style == semibold  {
    font-family: 'Segoe UI SemiBold', Arial, Helvetica, sans-serif;
  }
  @if $style == bold  {
    font-family: 'Segoe UI Bold', Arial, Helvetica, sans-serif;
  }
  @if $style == icons  {
    font-family: 'Segoe MDL2 Assets', Arial, Helvetica, sans-serif;
  }
}


@mixin centered($axes : both){
  @if $axes == both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  @if $axes == y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axes == x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


@mixin desktopxxlg{
  @media screen and (max-width: 2000px){
      @content;
  }
}
@mixin desktopxlg{
  @media screen and (max-width: 1900px){
      @content;
  }
}
@mixin desktoplg{
  @media screen and (max-width: 1600px){
      @content;
  }
}
@mixin desktopminlg{
  @media screen and (max-width: 1500px){
      @content;
  }
}
@mixin desktopxminlg{
  @media screen and (max-width: 1299px){
      @content;
  }
}
@mixin desktop{
  @media screen and (max-width: 1200px){
      @content;
  }
}
//laptop
@mixin laptop{
  @media screen and (max-width: 1140px){
      @content;
  }
}
@mixin laptops{
  @media screen and (max-width: 991px){
      @content;
  }
}
@mixin laptopsPortrait{
  @media screen and (max-width: 991px) and (orientation: portrait){
      @content;
  }
}
//tablets
@mixin tabletPortrait{
  @media screen and (max-width: 1140px) and (orientation: portrait){
    @content;
  }
}
@mixin tabletLandscape{
  @media screen and (max-width: 1140px) and (orientation: landscape){
    @content;
  }
}
@mixin tablestLandscape{
  @media screen and (max-width: 991px) and (orientation: landscape){
    @content;
  }
}
@mixin tabletxl{
  @media screen and (max-width: 900px){
      @content;
  }
}
@mixin tablet{
  @media screen and (max-width: 767px){
      @content;
  }
}
@mixin tabletsPortrait{
  @media screen and (max-width: 767px) and (orientation: portrait){
    @content;
  }
}
@mixin tabletsLandscape{
  @media screen and (max-width: 767px) and (orientation: landscape){
    @content;
  }
}
//phones
@mixin phone{
  @media screen and (max-width: 575px){
      @content;
  }
}
@mixin minphone{
  @media screen and (max-width: 360px){
      @content;
  }
}
@mixin minphoneLandscape{
  @media screen and (max-width: 580px) and (orientation: landscape){
    @content;
  }
}


@mixin tlxl{
  @media screen and (max-width: 1400px) and (max-height: 1100px) and (min-height: 900px){
      @content;
  }
}
@mixin mh{
  @media screen and (max-height: 770px) and (orientation: landscape){
      @content;
  }
}
@mixin mh2{
  @media screen and (max-height: 620px) and (orientation: landscape){
      @content;
  }
}
@mixin mh3{
  @media screen and (max-height: 530px) and (orientation: landscape){
      @content;
  }
}
