

.partners{
  padding-top: 12vw;
  margin-bottom: 120px;
  @include tabletPortrait{
    padding-top: 12vh;
  }
  @include tablet{
    margin-bottom: 60px;
  }
}
.partners__head{
  margin-bottom: 90px;
  max-width: clamp(865px, 76vw, 76vw);
  margin: 0 auto 90px;
  @include tabletPortrait{
    max-width: clamp(940px, 76vw, 76vw);
  }
  @include laptops{
    max-width: clamp(408px, 53vw, 420px);
  }
  @include tablet{
    margin-bottom: 50px;
  }
  @include phone{
    max-width: clamp(290px, 88vw, 88vw);
  }
  @include phoneLandscape{
    max-width: clamp(528px, 65vw, 65vw);
  }
  @include special{
    max-width: 336px;
  }
  br.dt_block{
    display: none;
    @include tabletsPortrait{
      display: block;
    }
  }
}
.partners__body{
  padding: 0 8vw;
  @include desktop{
    padding: 0 40px;
  }
  @include tablet{
    padding: 0 20px;
  }
}
.partners__body-list{
  margin: -50px -15px 0 ;
  @include tablet{
    margin: -50px -10px 0;
  }
}
.partners__body-item{
  width: 25%;
  padding: 50px 20px;
  @include desktop{
    width: 33.333%;
  }
  @include tablet{
    width: 50%;
    padding: 50px 10px 0;
  }
  a{
    width: 100%;
  }
  svg{
    width: 100%;
    max-width: 60%;
    filter: grayscale(1);
    transition: .4s ease-in-out;
    opacity: .6;
    @include desktop{
      max-width: 80%;
    }
  }
  &:hover{
    svg{
      filter: grayscale(0);
      opacity: 1;
    }
  }
}