$speed: 2.4s;
$speed2: 1.2s;
$time: ease;
$step1: calc(-100vh - 30%);
.api-page{
  height: 100%;
  .to-footer{
    transition: all .3s ease-in-out, transform $speed ease-in-out;
  }
  .animation-steps{
    transition-duration: $speed;
    transition-timing-function: ease-in-out;
    transform: translate3d(0,0,0);
    &_1{
      transform: translate3d(0,0,0);
      .slide-section__decor-box-wall{
        transform: translate(40.4%, 33%);
        opacity: 1;
      }
      .slide-section__decor-box-aside{
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, 0, 0);
          opacity: 1;
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -68%, 0);
      }
    }
    &_2{
      transform: translate3d(0,-100vh,0);
      .to-footer{
        transform: translate3d(0, 100vh, 0);
      }
      .slide-section__decor{
        transform: translate3d(0, -5%, 0);
      }
      .slide-section__decor-box{
        overflow: hidden;
        &:first-child{
          opacity: 0;
          transform: translate3d(70%, 0, 0);
          @include tabletPortrait{
            transform: translate3d(0, 50%, 0);
          }
        }
        &:nth-child(2){
          transform: translate3d(-55%, 5%, 0) scale(1.2);
          @include tabletPortrait{
            transform: translate3d(0, -80%, 0) scale(1.3);
          }
          @include phoneLandscape{
            transform: translate3d(-64%, -16%, 0) scale(1.2);
          }
        }
      }
      .slide-section__decor-box-wall{
        transform: translate(40.4%, 33%);
        opacity: 1;
      }
      .slide-section__decor-box-aside{
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, -.5%, 0);
          opacity: 1;
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -68%, 0);
      }
    }
    &_3{
      transform: translate3d(0,-100vh,0);
      .to-footer{
        transform: translate3d(0, 100vh, 0);
      }
      .slide-section__decor{
        transform: translate3d(0, -5%, 0);
      }
      .slide-section__decor-box{
        overflow: hidden;
        &:first-child{
          opacity: 0;
          transform: translate3d(70%, 0, 0);
          @include tabletPortrait{
            transform: translate3d(0, 50%, 0);
          }
        }
        &:nth-child(2){
          transform: translate3d(-55%, 5%, 0) scale(1.2);
          @include tabletPortrait{
            transform: translate3d(0, -80%, 0) scale(1.3);
          }
          @include phoneLandscape{
            transform: translate3d(-64%, -16%, 0) scale(1.2);
          }
        }
      }
      .slide-section__decor-box-wall{
        transform: translate(18%, 26.8%);
        opacity: 1;
        transition: $speed2;
        height: 72%;
        transform-origin: top left;
        transition: $speed2 $time;
        .picture{
          transition: $speed2 $time;
          transform: translate3d(-12%,0,0);
        }
      }
      .slide-section__decor-box-aside{
        transform: translate3d(398%, 19%, 0);
        transition: $speed2 $time;
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, .9%, 0);
          transition: $speed2 $time;
          opacity: 1;
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -70%, 0);
      }
      .slide-section__decor-box-variants-item{
        position: absolute;
        transition: $speed2 $time;
        &:nth-child(1){
          transform: translate3d(-385%, -40%, 0);
        }
        &:nth-child(2){
          transform: translate3d(-385%, -150%, 0);
        }
        &:nth-child(3){
          transform: translate3d(-385%, -260%, 0);
        }
        &:nth-child(4){
          transform: translate3d(-385%, -370%, 0);
        }
        &:nth-child(5){
          transform: translate3d(-385%, -480%, 0);
        }
        &:nth-child(6){
          transform: translate3d(-385%, -590%, 0);
        }
        &:nth-child(7){
          transform: translate3d(-385%, -696%, 0);
        }
      }
    }
    &_4{
      transform: translate3d(0,-100vh,0);
      .to-footer{
        transform: translate3d(0, 100vh, 0);
      }
      .slide-section__decor{
        transform: translate3d(0, -5%, 0);
      }
      .slide-section__decor-box{
        overflow: hidden;
        &:first-child{
          opacity: 0;
          transform: translate3d(70%, 0, 0);
          @include tabletPortrait{
            transform: translate3d(0, 50%, 0);
          }
        }
        &:nth-child(2){
          transform: translate3d(-55%, 5%, 0) scale(1.2);
          @include tabletPortrait{
            transform: translate3d(0, -80%, 0) scale(1.3);
          }
          @include phoneLandscape{
            transform: translate3d(-64%, -16%, 0) scale(1.2);
          }
        }
      }
      .slide-section__decor-box-wall{
        transform: translate(18%, 26.8%);
        opacity: 1;
        transition: $speed2;
        height: 72%;
        transform-origin: top left;
        transition: $speed2 $time;
        .picture{
          transition: $speed2 $time;
          transform: translate3d(-12%,0,0);
        }
      }
      .slide-section__decor-box-aside{
        transform: translate3d(398%, 19%, 0);
        transition: $speed2 $time;
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, .9%, 0);
          transition: $speed2 $time;
          opacity: 1;
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -70%, 0);
      }
      .slide-section__decor-box-variants-item{
        position: absolute;
        transition: $speed2 $time;
        &:nth-child(1){
          transform: translate3d(-385%, -40%, 0);
        }
        &:nth-child(2){
          transform: translate3d(-385%, -150%, 0);
        }
        &:nth-child(3){
          transform: translate3d(-385%, -260%, 0);
        }
        &:nth-child(4){
          transform: translate3d(-385%, -370%, 0);
        }
        &:nth-child(5){
          transform: translate3d(-385%, -480%, 0);
        }
        &:nth-child(6){
          transform: translate3d(-385%, -590%, 0);
        }
        &:nth-child(7){
          transform: translate3d(-385%, -696%, 0);
        }
      }
      .slide-section__text{
        &_1{
          transform: translate3d(-50%, -50vh, 0);
        }
        &_2{
          opacity: 1;
          transform: translate3d(-50%, 0, 0);
        }
      }
      .slide-section__decor-box-analitics{
        visibility: visible;
      }
    }
    &_5{
      transform: translate3d(0,-100vh,0);
      .to-footer{
        transform: translate3d(0, 100vh, 0);
      }
      .slide-section__decor{
        transform: translate3d(0, -5%, 0);
      }
      .slide-section__decor-box{
        overflow: hidden;
        &:first-child{
          opacity: 0;
          transform: translate3d(70%, 0, 0);
          @include tabletPortrait{
            transform: translate3d(0, 50%, 0);
          }
        }
        &:nth-child(2){
          transform: translate3d(-55%, 5%, 0) scale(1.2);
          @include tabletPortrait{
            transform: translate3d(0, -80%, 0) scale(1.3);
          }
          @include phoneLandscape{
            transform: translate3d(-64%, -16%, 0) scale(1.2);
          }
        }
      }
      .slide-section__decor-box-wall{
        transform: translate(18%, 26.8%);
        opacity: 1;
        transition: $speed2;
        height: 72%;
        transform-origin: top left;
        transition: $speed2 $time;
        border-radius: 40px;
        @include tabletsPortrait{
          border-radius: 20px;
        }
        @include phoneLandscape{
          border-radius: 20px;
        }
        .picture{
          overflow: hidden;
          transition: $speed2 $time;
          transform: translate3d(-12%,0,0);
        }
        img{
          border-radius: 40px;
          transition: $speed2 $time;
          @include tabletsPortrait{
            border-radius: 20px;
          }
          @include phoneLandscape{
            border-radius: 20px;
          }
          
        }
      }
      .slide-section__decor-box-aside{
        transform: translate3d(398%, 19%, 0);
        transition: $speed2 $time;
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, .9%, 0);
          opacity: 1;
          .picture{
            &:last-child{
              height: 100%;
              transition: $speed2 $time;
            }
          }
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -70%, 0);
      }
      .slide-section__decor-box-variants-item{
        position: absolute;
        transition: $speed2 $time;
        border-radius: 10px;

        &:nth-child(1){
          transform: translate3d(-385%, -40%, 0);
        }
        &:nth-child(2){
          transform: translate3d(-385%, -150%, 0);
        }
        &:nth-child(3){
          transform: translate3d(-385%, -260%, 0);
        }
        &:nth-child(4){
          transform: translate3d(-385%, -370%, 0);
        }
        &:nth-child(5){
          transform: translate3d(-385%, -480%, 0);
        }
        &:nth-child(6){
          transform: translate3d(-385%, -590%, 0);
        }
        &:nth-child(7){
          transform: translate3d(-385%, -696%, 0);
        }
      }
      .slide-section__text{
        &_1{
          transform: translate3d(-50%, -50vh, 0);
        }
        &_2{
          opacity: 1;
          transform: translate3d(-50%, 0, 0);
        }
      }
      .slide-section__decor-box-analitics{
        visibility: visible;
      }
    }
    &_6{
      transform: translate3d(0,-100vh,0);
      .to-footer{
        transform: translate3d(0, 0, 0);
      }
      .slide-section__decor{
        transform: translate3d(0, -5%, 0);
      }
      .slide-section__decor-box{
        overflow: hidden;
        &:first-child{
          opacity: 0;
          transform: translate3d(70%, 0, 0);
          @include tabletPortrait{
            transform: translate3d(0, 50%, 0);
          }
        }
        &:nth-child(2){
          transform: translate3d(-55%, 5%, 0) scale(1.2);
          @include tabletPortrait{
            transform: translate3d(0, -80%, 0) scale(1.3);
          }
          @include phoneLandscape{
            transform: translate3d(-64%, -16%, 0) scale(1.2);
          }
        }
      }
      .slide-section__decor-box-wall{
        transform: translate(18%, 26.8%);
        opacity: 1;
        transition: $speed2;
        height: 72%;
        transform-origin: top left;
        transition: $speed2 $time;
        border-radius: 40px;
        @include tabletsPortrait{
          border-radius: 20px;
        }
        @include phoneLandscape{
          border-radius: 20px;
        }
        .picture{
          overflow: hidden;
          transition: $speed2 $time;
          transform: translate3d(-12%,0,0);
        }
        img{
          border-radius: 40px;
          transition: $speed2 $time;
          @include tabletsPortrait{
            border-radius: 20px;
          }
          @include phoneLandscape{
            border-radius: 20px;
          }
        }
      }
      .slide-section__decor-box-aside{
        transform: translate3d(398%, 19%, 0);
        transition: $speed2 $time;
        .slide-section__decor-box-aside-controls{
          transform: translate3d(-7%, .9%, 0);
          opacity: 1;
          .picture{
            &:last-child{
              height: 100%;
              transition: $speed2 $time;
            }
          }
        }
      }
      .slide-section__decor-box-variants{
        opacity: 1;
        transform: translate3d(-28%, -70%, 0);
      }
      .slide-section__decor-box-variants-item{
        position: absolute;
        transition: $speed2 $time;
        &:nth-child(1){
          transform: translate3d(-385%, -40%, 0);
        }
        &:nth-child(2){
          transform: translate3d(-385%, -150%, 0);
        }
        &:nth-child(3){
          transform: translate3d(-385%, -260%, 0);
        }
        &:nth-child(4){
          transform: translate3d(-385%, -370%, 0);
        }
        &:nth-child(5){
          transform: translate3d(-385%, -480%, 0);
        }
        &:nth-child(6){
          transform: translate3d(-385%, -590%, 0);
        }
        &:nth-child(7){
          transform: translate3d(-385%, -696%, 0);
        }
      }
      .slide-section__text{
        &_1{
          transform: translate3d(-50%, -50vh, 0);
        }
        &_2{
          opacity: 1;
          transform: translate3d(-50%, -50vh, 0);
        }
        &_3{
          opacity: 1;
          transform: translate3d(-50%, 0, 0);
        }
      }
      .slide-section__decor-box-analitics{
        visibility: visible;
        transform: translate3d(0,0,0);
      }
    }
  }
  .api-page__hero{
    z-index: 2;
    .slide-section__text{
      margin-top: 220px;
      @include laptops{
        margin-top: 140px;
      }
      @include tabletsPortrait{
        margin-top: 130px;
      }
      @include phoneLandscape{
        margin-top: 130px;
      }
    }
    .scrl-down{
      width: 100%;
    }
  }
  .slide-section__decor{
    top: 50%;
    transform: translate3d(0, $step1, 0);
    transition: $speed ease-in-out;
    @include tabletPortrait{
      flex-direction: column;
      top: 43%;
    }
    @include tabletsPortrait{
      top: 46%;
    }
    @include phoneLandscape{
      top: 54%;
    }
    @include special{
      top: 43%;
    }
  }
  .slide-section__decor-box{
    border: 10px solid #000000;
    width: clamp(200px, 45vw, 73vh);
    border-radius: 10px;
    box-shadow:  0 0 50px rgba(#FFFFFF, .4);
    transition: $speed ease-in-out;
    @include tabletPortrait{
      width: clamp(260px, calc(100vw - 40px), 50vh);
    }
    @include tabletsPortrait{
      width: 70vw;
    }
    @include phoneLandscape{
      width: clamp(260px, calc(100vw - 40px), 45vh);
    }
    @include special{
      width: 60vw;
    }
    &:first-child{
      margin-right: 80px;
      @include tabletPortrait{
        margin-right: 0;
        margin-bottom: 40px;
      }
      @include tabletPortrait{
        margin-bottom: 10px;
      }
    }
  }
  .slide-section__decor-box-wall{
    top: 0;
    left: 0;
    width: 69%;
    height: 61.4%;
    overflow: hidden;
    transition: $speed ease-in-out, opacity $speed2 ;
    transform: translate3d(-128.6%, 17.9%, 0);
    z-index: 2;
    @include tabletPortrait{
      transform: translate3d(37.4%, -171%, 0);
    }
    .picture{
      position: absolute;
      width: 100%;
      height: 110%;
      transition: $speed;
      transform-origin: right top;
    }
    img{
      transition: $speed;
    }
  }
  .slide-section__decor-box-aside{
    top: 0;
    left: 0;
    height: 100%;
    width: 19%;
    transition: $speed ease-in-out, opacity $speed2 ;
    transform: translate(18%, 20%);
    .picture{
      width: 100%;
    }
    .slide-section__decor-box-aside-controls{
      width: calc(100% + 30%);
      transform: translate3d(-474%, -.5%, 0);
      transition: $speed ease-in-out, opacity $speed2 ;
      @include tabletPortrait{
        transform: translate3d(-7%, -156%, 0);
      }
      .picture{
        &:last-child{
          width: 100%;
          height: 0;
          top: 0;
          left: 0;
          transition: $speed;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .slide-section__decor-box-variants{
    flex-direction: row-reverse;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translate3d(-205%, -30%,0);
    transition: $speed ease-in-out, opacity 1.6s ease-in-out ;
    height: 10%;
    z-index: 3;
    @include tabletPortrait{
      transform: translate3d(-26%, -1171%,0);
    }
  }
  .slide-section__decor-box-variants-item{
    width: 13%;
    bottom: 0;
    left: 0;
    transform: translate3d(0,0,0);
    transition: $speed;
    border-radius: 2px;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    &:nth-child(1){
      transform: translate3d(648%, 0%, 0);
    }
    &:nth-child(2){
      transform: translate3d(540%, 0%, 0);
    }
    &:nth-child(3){
      transform: translate3d(432%, 0%, 0);
    }
    &:nth-child(4){
      transform: translate3d(324%, 0%, 0);
    }
    &:nth-child(5){
      transform: translate3d(216%, 0%, 0);
    }
    &:nth-child(6){
      transform: translate3d(108%, 0%, 0);
    }
    &:nth-child(7){
      transform: translate3d(0%, 0%, 0);
    }
    img,
    picture{
      transform: perspective(1px) translateZ(0);
      backface-visibility: hidden;
      will-change: transform;
    }
  }
  .slide-section__text-wrapper{
    padding-top: 200px;
    @include laptops{
      padding-top: 160px;
    }
  }
  .slide-section__text-inside{
    top: 0;
    transition: $speed ease-in-out;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100vw;
  }
  .slide-section__text{
    .slide-section__text-desc{
      margin: 0 auto;
    }
    &_1{
      .slide-section__text-desc{
        max-width: clamp(665px, 44vw, 44vw);
        @include phoneLandscape{
          max-width: clamp(400px, 44vw, 44vw);
        }
        @include tabletPortrait{
          max-width: 650px;
        }
        @include tabletsPortrait{
          max-width: 350px;
        }
      }
    }
    &_2{
      top: 0;
      opacity: 0;
      transform: translate3d(-50%, 28vh, 0);
      .slide-section__text-desc{
        max-width: clamp(780px, 45vw, 45vw);
        @include desktoplg{
          max-width: clamp(730px, 45vw, 45vw);
        }
        @include phoneLandscape{
          max-width: clamp(400px, 44vw, 44vw);
        }
        @include tabletPortrait{
          max-width: 650px;
        }
        @include tabletsPortrait{
          max-width: clamp(100px, 86vw, 364px);
        }
      }
    }
    &_3{
      top: 0;
      opacity: 0;
      transform: translate3d(-50%, 28vh, 0);
      .slide-section__text-desc{
        max-width: clamp(780px, 45vw, 45vw);
        @include desktoplg{
          max-width: clamp(730px, 45vw, 45vw);
        }
        @include phoneLandscape{
          max-width: clamp(400px, 44vw, 44vw);
        }
        @include tabletPortrait{
          max-width: 650px;
        }
        @include tabletsPortrait{
          max-width: clamp(100px, 86vw, 364px);
        }
      }
    }
  }
  .slide-section__decor-box-analitics{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
    transition: $speed ease-in-out;
    z-index: 4;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .api-page__steps{
    &.oh{
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;;
      }
    }
  }
  .scrollable-section{
    margin-top: 5vh;
    @include tabletPortrait{
      margin-top: 0;
    }
  }
}