$hw: calc((12.45vw * 4) / 2);
$step1: calc(100vh - 60%);
$step2: calc(200vh - 30%);
$step3: calc(300vh - 55%);
$speed: 2s;
$speed2: 1.2s;

.blender-page{
  height: 100%;
  .animation-steps{
    transition-duration: $speed;
    transition-timing-function: ease-in-out;
    transform: translate3d(0,0,0);
    &_1{
      transform: translate3d(0,-100vh,0);
      .blender__bricks{
        transform: translate3d(8vw, $step1, 0);
        .blender__brick-item{
          transform: translate3d(0,0,0) !important;
        }
      }
      .blender-page__bg{
        transform: translate3d(0, 100vh, 0);
      }
    }
    &_2{
      transform: translate3d(0,-200vh,0);
      .blender__bricks{
        transform: translate3d(45%, $step2, 0);
        .blender__brick-item{
          transform: translate3d(0,0,0) !important;
        }
      }
      .blender-page__bg{
        transform: translate3d(0, 200vh, 0);
      }
    }
    &_3{
      transform: translate3d(0,-200vh,0);
      .blender__bricks{
        transform: translate3d(45%, $step2, 0);
        .blender__brick-item{
          transform: translate3d(0,0,0) !important;
          .picture{
            &:nth-child(2){
              opacity: 1;
            }
          }
        }
      }
      .blender-page__bg{
        transform: translate3d(0, 200vh, 0);
      }
    }
    &_4{
      transform: translate3d(0,-300vh,0);
      .blender__bricks{
        transform: translate3d(35%, $step3, 0) scale(0);
        .blender__brick-item{
          transform: translate3d(0,0,0) !important;
          .picture{
            &:nth-child(2){
              opacity: 1;
            }
          }
        }
      }
      .blender-page__bg{
        transform: translate3d(0, 300vh, 0) scale(0);
      }
    }
  }

  .blender-page__bg{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: $speed ease-in-out;
    &:after{
      transition: $speed ease-in-out;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(closest-side, rgba(13,13,13,0) 0%, rgba(13,13,13,1) 95%);
    }
    .picture{
      height: 100%;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .animation-steps__wrapper{
    .slide-section__text{
      padding-top: 200px;
    }
  }
  .blender__bricks{
    margin-top: .68vw;
    margin-left: calc(6.55vw + .68vw);
    max-width: calc(12.45vw * 4);
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate3d($hw, -34%, 0);
    transition: $speed ease-in-out;
    .blender__brick-item{
      margin-top: -.68vw;
      margin-left: -.68vw;
      width: 12.45vw;
      transition: $speed ease-in-out;
      &:nth-child(5),
      &:nth-child(13),
      &:nth-child(21){
        margin-left: -6.55vw;
      }
      &:first-child{
        transform: translateX(37vw);
      }
      &:nth-child(2){
        transform: translateX(39.4vw);
      }
      &:nth-child(3){
        transform: translateX(-43.6vw);
      }
      &:nth-child(4){
        transform: translateX(27.6vw);
      }
      &:nth-child(5){
        transform: translateX(-21vw);
      }
      &:nth-child(6){
        transform: translateX(36.3vw);
      }
      &:nth-child(7){
        transform: translateX(-23.5vw);
      }
      &:nth-child(8){
        transform: translateX(27.8vw);
      }
      &:nth-child(9){
        transform: translateX(21.2vw);
      }
      &:nth-child(10){
        transform: translateX(-44.6vw);
      }
      &:nth-child(11){
        transform: translateX(27.6vw);
      }
      &:nth-child(12){
        transform: translateX(-48.6vw);
      }
      &:nth-child(13){
        transform: translateX(-32.8vw);
      }
      &:nth-child(14){
        transform: translateX(31.7vw);
      }
      &:nth-child(15){
        transform: translateX(-44.6vw);
      }
      &:nth-child(16){
        transform: translateX(-26.4vw);
      }
      &:nth-child(17){
        transform: translateX(-32.8vw);
      }
      &:nth-child(18){
        transform: translateX(-29.7vw);
      }
      &:nth-child(19){
        transform: translateX(6.5vw);
      }
      &:nth-child(20){
        transform: translateX(15.8vw);
      }
      &:nth-child(21){
        transform: translateX(-21vw);
      }
      &:nth-child(22){
        transform: translateX(38.4vw);
      }
      &:nth-child(23){
        transform: translateX(39.4vw);
      }
      &:nth-child(24){
        transform: translateX(-41.5vw);
      }
      .picture{
        &:nth-child(2){
          transition: $speed ease;
          opacity: 0;
          top: 0;
          left: 0;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .brick{
    margin-top: -10px;
  }
}