$speed: 3s;
$speed2: 1.2s;

.software-page{
  height: 100%;

  .animation-steps{
    transition-duration: $speed;
    transition-timing-function: ease-in-out;
    transform: translate3d(0,0,0);
    &_1{
      transform: translate3d(0,-100vh,0);
    }
    &_2{
      transform: translate3d(0,-100vh,0);
      .software-page__steps{
        .slide-section__text{
          &_1{
            transform: translate3d(0, -100vh, 0)
          }
          &_2{
            transform: translate3d(0, 0, 0)
          }
        }
      }
    }
    &_3{
      transform: translate3d(0,-100vh,0);
      .software-page__steps{
        .slide-section__text{
          &_1,
          &_2{
            transform: translate3d(0, -100vh, 0)
          }
          &_3{
            transform: translate3d(0, 0, 0)
          }
        }
      }
    }
  }

  .software-page__hero{
    .slide-section__hero-img{
      @include centered;
      top: 54%;
      @include tabletPortrait{
        top: 54%;
        left: 58%;
        width: 150%;
      }
      @include minphone2{
        top: 60%;
      }
      .picture{
        height: 84vh;
        @include tabletPortrait{
          width: 100%;
          height: auto;
        }
        @include mh3{
          height: 65vh;
        }
      }
      img{
        max-width: initial;
        height: 100%;
        width: auto;
        @include tabletPortrait{
          height: auto;
          width: 100%;
        }
      }
    }
    .slide-section__text{
      @include centered;
      top: 44%;
      left: 65%;
      @include tabletPortrait{
        top: 210px;
        transform: translate(-50%, 0);
        left: 50%;
        text-align: center;
        width: 100%;
      }
      @include laptops{
        top: 150px;
      }
      @include mh3{
        top: 50%;
      }
      @include minphone2{
        top: 135px;
      }
    }
  }
  .scrl-down{
    @include tabletPortrait{
      width: 100%;
    }
  }

  .software-page__steps{
    .slide-section{
      padding-top: 84px;
    }
    .slide-section__decor{
      flex: 0 0 65%;
      video{
        clip-path: inset(1px 1px);
        width: 107%;
        transform: translateX(-3%);
      }
    }
    .slide-section__text{
      &-inside{
        transition: $speed ease-in-out;
        top: 0;
        left: 0;
      }
      &_1{
        transform: translate3d(0, 0, 0); 
      }
      &_2,
      &_3{
        transform: translate3d(0, 100vh, 0);
      }
    }
  }

  .software-page__device{
    &.oh{
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;;
      }
    }
  }
}