.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  @include segoe(bold);
  padding: 10px 12px 8px;
  border-radius:2px;
  letter-spacing:.09em;
  transition: .22s ease-in-out;
  @include laptops{
    font-size: 12px;
    padding: 5px 6px 4px;
  }
  &_primary{
    background-color: $green;
    color: $dark;
    &:hover{
      background-color: $greenHover;
    }
  }
}