.card__img{
  margin-bottom: 33px;
  @include desktop{
    margin-bottom: 25px;
  }
  @include phone{
    margin-bottom: 5px;
  }
  img{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
.card__title{
  h2{
    @include segoe;
    font-weight: 400;
  }
}