*{
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: $black;
}
::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 4px;
}
html, body{
  height: 100%;
  margin: 0;
  transform: translate3d(0)
}
body{
  @include segoe;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;
  color: #FFFFFF;
  background-color: $black;
  &>div{
    height: 100%;
  }
}
ol, ul{
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6, strong{
  @include segoe(semibold);
}
.wrapper{
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}
a{
  color: $white; 
  text-decoration: none;
}
.d{
  &_flex{
    display: flex;
  }
  &_iflex{
    display: inline-flex;
  }
  &_block{
    display: block;
  }
  &_none{
    display: none;
  }
}
.flex{
  &_wrap{
    flex-wrap: wrap;
  }
  &_column{
    flex-direction: column;
  }
}
.text{
  &_uppercase{
    text-transform: uppercase;
  }
  &_center{
    text-align: center;
  }
}
.align-items{
  &_center{
    align-items: center;
  }
}
.justify-content{
  &_center{
    justify-content: center;
  }
  &_between{
    justify-content: space-between;
  }
}
.fw{
  &_bold{
    @include segoe(bold);
  }
  &_semibold{
    @include segoe(semibold);
  }
}
.slide-section{
  width: 100vw;
  height: 100vh;
  padding: 0 60px;
  @include laptops{
    padding: 0 7px;
  }
}
img{
  // max-height: 100vh;
  max-width: 100vw;
  image-rendering: -moz-crisp-edges!important;
  image-rendering: -o-crisp-edges!important;
  image-rendering: -webkit-optimize-contrast!important;
  image-rendering: crisp-edges!important;
  -ms-interpolation-mode: nearest-neighbor!important;
  display: block;
}
.position{
  &_relative{
    position: relative;
  }
  &_absolute{
    position: absolute;
  }
}
.slide-section__text{
  @include tabletPortrait{
    margin-left: 14vw;
  }
  @include phone{
    margin-left: 60px;
  }
  @include tabletsLandscape{
    margin-left: 0 !important;
  }
}
.slide-section__text-head{
  margin-bottom: 20px;
  h1,h2{
    font-size: 3.4vw;
    line-height: 1.3;
    @include segoe(semibold);
    @include tabletPortrait{
      font-size: 8vw;
    }
    @include tablet{
      font-size: 10vw;
    }
    @include tabletLandscape{
      font-size: 3.4vw;
    }
  }
}
.slide-section__text-cta{
  display: flex;
  justify-content: center;
}
.color{
  &_green{
    color: $green;
  }
}
.slider-section__text-desc{
  .fs_32{
    @include tabletPortrait{
      font-size: 4vw;
    }
    @include tablet{
      font-size: 5vw;
    }
  }
}
.fs{
  &_32{
    font-size: 1.7vw;
    @include tabletPortrait{
      font-size: 3.4vw;
    }
    @include tablet{
      font-size: 4vw;
    }
    @include tabletLandscape{
      font-size: 1.7vw !important;
    }
  }
  &_48{
    font-size: 2.4vw;
    @include tabletPortrait{
      font-size: 4vw;
    }
    @include tabletLandscape{
      font-size: 2.4vw;
    }
  }
  &_64{
    font-size: 3.4vw;
    @include tablet{
      font-size: 10vw;
    }
    @include tabletPortrait{
      font-size: 7vw;
    }
    @include tabletLandscape{
      font-size: 3.4vw;
    }
  }
  &_68{
    font-size: 3.54vw;
    @include tabletPortrait{
      font-size: 4.2vw
    }
    @include tabletsPortrait{
      font-size: 9vw
    }
  }
}
.ff{
  &_icon{
    @include segoe(icons);
  }
}
.mb{
  &_32{
    margin-bottom: 1vw;
  }
}
.mr{
  &_20{
    margin-right: 1vw;
  }
}
.cursor{
  &_pointer{
    cursor: pointer;
  }
}
.scrl-down{
  @include centered(x);
  bottom: 1vw;
  opacity: .6;
  @include tablet{
    bottom: 16px;
    @supports (-webkit-touch-callout: none) {
      bottom: 95px;
    }
  }
  p{
    &:first-child{
      @include segoe(semibold)
    }
  }
}
.slide-section__step{
  margin-right: 36px;
  @include tabletPortrait{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    left: 60px;
  }
  @include laptops{
    left: 7px;
  }
}
.slide-section__step-counter{
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 50%;
  background-color: $green;
  position: relative;
  z-index: 2;
  @include tabletPortrait{
    width: 9.5vw;
    height: 9.5vw;
  }
  @include phone{
    width: 63px;
    height: 63px;
  }
  p{
    font-size: 3.4vw;
    color: $gray;
    @include segoe(semibold);
    @include phone{
      font-size: 27px;
    }
  }
}
.slide-section__step-line{
  position: absolute;
  @include centered(x);
  top: 0;
  height: 100%;
  width: 6px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 8px,
    $green 8px,
    $green 16px
  );
}
.docSlider section{
  background-color: $black;
}
.animation-steps__wrapper{
  height: 100%;
  overflow: hidden;
}
.slider-section__text-cta{
  margin-top: 25px;
  a{
    color: $green;
    font-size: 40px;
    font-size: 2.1vw;
    @include segoe(semibold);
    @include tabletPortrait{
      font-size: 4vw;
    }
  }
}
.slide-section__decor{
  img{
    width: 100%;
  }
}
.container{
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  .col{
    padding: 0 20px;
    flex: 1;
  }
}