$speed: 2s;

.seamless-page{
  height: 100%;
  .animation-steps{
    transition: $speed ease-in-out;
    transform: translate3d(0,0,0);
    &_1{
      transform: translate3d(0,-100vh,0);
      .seamless-page__hero{
        &:before{
          opacity: 0;
        }
        &:after{
          opacity: 0;
        }
      }
    }
    &_2{
      transform: translate3d(0,-100vh,0);
    }
    &_3{
      transform: translate3d(0,-200vh,0);
    }
    &_4{
      transform: translate3d(0,-200vh,0);
    }
    &_5{
      transform: translate3d(0,-300vh,0);
    }
    &_6{
      transform: translate3d(0,-300vh,0);
    }
    &_7{
      transform: translate3d(0,-400vh,0);
    }
    &_8{
      transform: translate3d(0,-400vh,0);
    }
    &_9{
      transform: translate3d(0,-500vh,0);
    }
    &_10{
      transform: translate3d(0,-500vh,0);
    }
  }

  .seamless-page__hero{
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -98%;
      left: 0;
      background: linear-gradient(to bottom, rgba(#0D0D0D,0) 0%, rgba(#0D0D0D,0) 50%, rgba(#0D0D0D,1) 100%,);
      transition: .4s ease;
    }
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: radial-gradient(closest-side, rgba(13,13,13,0) 0%, rgba(13,13,13,0) 50%, rgba(13,13,13,1) 100%);
      opacity: .5;
      transition: .4s ease;
    }
    .slide-section__text{
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%,-50%);
    }
    .slide-section__decor{
      .picture{
        top: 50%;
        left: 50%;
        width: 23.438vw;
        &:nth-child(1){
          transform: translate3d(-270%, -160%,0);
          animation: wall1 6s ease-in-out infinite;
        }
        &:nth-child(2){
          transform: translate3d(-160%, -160%,0);
          animation: wall2 6s ease-in-out infinite;
        }
        &:nth-child(3){
          transform: translate3d(-50%, -160%,0);
          animation: wall3 6s ease-in-out infinite;
        }
        &:nth-child(4){
          transform: translate3d(60%, -160%,0);
          animation: wall4 6s ease-in-out infinite;
        }
        &:nth-child(5){
          transform: translate3d(170%, -160%,0);
          animation: wall5 6s ease-in-out infinite;
        }
        &:nth-child(6){
          transform: translate3d(-270%, -50%,0);
          animation: wall6 6s ease-in-out infinite;
        }
        &:nth-child(7){
          transform: translate3d(-160%, -50%,0);
          animation: wall7 6s ease-in-out infinite;
        }
        &:nth-child(8){
          transform: translate(-50%, -50%);
        }
        &:nth-child(9){
          transform: translate3d(60%, -50%,0);
          animation: wall9 6s ease-in-out infinite;
        }
        &:nth-child(10){
          transform: translate3d(170%, -50%,0);
          animation: wall10 6s ease-in-out infinite;
        }
        &:nth-child(11){
          transform: translate3d(-270%, 60%,0);
          animation: wall11 6s ease-in-out infinite;
        }
        &:nth-child(12){
          transform: translate3d(-160%, 60%,0);
          animation: wall12 6s ease-in-out infinite;
        }
        &:nth-child(13){
          transform: translate3d(-50%, 60%,0);
          animation: wall13 6s ease-in-out infinite;
        }
        &:nth-child(14){
          transform: translate3d(60%, 60%,0);
          animation: wall14 6s ease-in-out infinite;
        }
        &:nth-child(15){
          transform: translate3d(170%, 60%,0);
          animation: wall15 6s ease-in-out infinite;
        }
      }
    }
  }
  .scrl-down{
    z-index: 3;
  }
  .seamless-page__packaged{
    &.oh{
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;;
      }
    }
  }
}


@keyframes wall1 {
  0%{transform: translate3d(-270%, -160%,0);}
  20%{transform: translate3d(-270%, -160%,0);}
  40%{transform: translate3d(-250%, -150%,0);}
  60%{transform: translate3d(-250%, -150%,0);}
  80%{transform: translate3d(-270%, -160%,0);}
  100%{transform: translate3d(-270%, -160%,0);}
}
@keyframes wall2 {
  0%{transform: translate3d(-160%, -160%, 0)}
  20%{transform: translate3d(-160%, -160%, 0)}
  40%{transform: translate3d(-150%, -150%, 0)}
  60%{transform: translate3d(-150%, -150%, 0)}
  80%{transform: translate3d(-160%, -160%, 0)}
  100%{transform: translate3d(-160%, -160%, 0)}
}
@keyframes wall3 {
  0%{transform: translate3d(-50%, -160%,0)}
  20%{transform: translate3d(-50%, -160%,0)}
  40%{transform: translate3d(-50%, -150%,0)}
  60%{transform: translate3d(-50%, -150%,0)}
  80%{transform: translate3d(-50%, -160%,0)}
  100%{transform: translate3d(-50%, -160%,0)}
}
@keyframes wall4 {
  0%{transform: translate3d(60%, -160%,0)}
  20%{transform: translate3d(60%, -160%,0)}
  40%{transform: translate3d(50%, -150%,0)}
  60%{transform: translate3d(50%, -150%,0)}
  80%{transform: translate3d(60%, -160%,0)}
  100%{transform: translate3d(60%, -160%,0)}
}
@keyframes wall5 {
  0%{transform: translate3d(170%, -160%,0)}
  20%{transform: translate3d(170%, -160%,0)}
  40%{transform: translate3d(150%, -150%,0)}
  60%{transform: translate3d(150%, -150%,0)}
  80%{transform: translate3d(170%, -160%,0)}
  100%{transform: translate3d(170%, -160%,0)}
}
@keyframes wall6 {
  0%{transform: translate3d(-270%, -50%,0)}
  20%{transform: translate3d(-270%, -50%,0)}
  40%{transform: translate3d(-250%, -50%,0)}
  60%{transform: translate3d(-250%, -50%,0)}
  80%{transform: translate3d(-270%, -50%,0)}
  100%{transform: translate3d(-270%, -50%,0)}
}
@keyframes wall7 {
  0%{transform: translate3d(-160%, -50%,0)}
  20%{transform: translate3d(-160%, -50%,0)}
  40%{transform: translate3d(-150%, -50%,0)}
  60%{transform: translate3d(-150%, -50%,0)}
  80%{transform: translate3d(-160%, -50%,0)}
  100%{transform: translate3d(-160%, -50%,0)}
}
@keyframes wall9 {
  0%{transform: translate3d(60%, -50%,0)}
  20%{transform: translate3d(60%, -50%,0)}
  40%{transform: translate3d(50%, -50%,0)}
  60%{transform: translate3d(50%, -50%,0)}
  80%{transform: translate3d(60%, -50%,0)}
  100%{transform: translate3d(60%, -50%,0)}
}
@keyframes wall10 {
  0%{transform: translate3d(170%, -50%,0)}
  20%{transform: translate3d(170%, -50%,0)}
  40%{transform: translate3d(150%, -50%,0)}
  60%{transform: translate3d(150%, -50%,0)}
  80%{transform: translate3d(170%, -50%,0)}
  100%{transform: translate3d(170%, -50%,0)}
}
@keyframes wall11 {
  0%{transform: translate3d(-270%, 60%,0)}
  20%{transform: translate3d(-270%, 60%,0)}
  40%{transform: translate3d(-250%, 50%,0)}
  60%{transform: translate3d(-250%, 50%,0)}
  80%{transform: translate3d(-270%, 60%,0)}
  100%{transform: translate3d(-270%, 60%,0)}
}
@keyframes wall12 {
  0%{transform: translate3d(-160%, 60%,0)}
  20%{transform: translate3d(-160%, 60%,0)}
  40%{transform: translate3d(-150%, 50%,0)}
  60%{transform: translate3d(-150%, 50%,0)}
  80%{transform: translate3d(-160%, 60%,0)}
  100%{transform: translate3d(-160%, 60%,0)}
}
@keyframes wall13 {
  0%{transform: translate3d(-50%, 60%,0);}
  20%{transform: translate3d(-50%, 60%,0);}
  40%{transform: translate3d(-50%, 50%,0);}
  60%{transform: translate3d(-50%, 50%,0);}
  80%{transform: translate3d(-50%, 60%,0);}
  100%{transform: translate3d(-50%, 60%,0);}
}
@keyframes wall14 {
  0%{transform: translate3d(60%, 60%,0)}
  20%{transform: translate3d(60%, 60%,0)}
  40%{transform: translate3d(50%, 50%,0)}
  60%{transform: translate3d(50%, 50%,0)}
  80%{transform: translate3d(60%, 60%,0)}
  100%{transform: translate3d(60%, 60%,0)}
}
@keyframes wall15 {
  0%{transform: translate3d(170%, 60%,0)}
  20%{transform: translate3d(170%, 60%,0)}
  40%{transform: translate3d(150%, 50%,0)}
  60%{transform: translate3d(150%, 50%,0)}
  80%{transform: translate3d(170%, 60%,0)}
  100%{transform: translate3d(170%, 60%,0)}
}