@import '@/assets/styles/helpers';
$speed: 3s;

.home{
  height:100%;
}
.animation-steps{
  transition: $speed ease-in-out;
  transform: translateY(0);
  &_1{
    transform: translateY(-100vh);
    .box_brick{
      transform: 
        translateX(-50%) 
        translateY(0%) 
        rotate(-180deg);
    }
  }
  &_2{
    transform: translateY(-150vh);
    .box_brick{
      transform: 
        translateX(-50%) 
        translateY(-60%) 
        rotate(-180deg);
    }
    .slide-section__decor.box{
      transform: rotate(180deg) translateY(-14%);
    }
    .home__send .slide-section__text{
      transform: translateY(18%);
    }
    .home__photograph{
      .slide-section__text{
        transform: translateY(0);
      }
    }
  }
  &_3{
    transform: translateY(-200vh);
    .home__send .slide-section__text{
      transform: translateY(18%);
    }
    .home__photograph{
      .slide-section__text{
        transform: translateY(0);
      }
    }
    .slide-section__decor.box{
      transform: rotate(180deg) translateY(-14%);
    }
    .box_brick{
      transform: 
        translateX(-50%) 
        translateY(-48vw) 
        rotate(-180deg);
      filter: blur(8px);
      @include desktoplg{
        transform: 
          translateX(-50%)
          translateY(-650%)
          rotate(-180deg);
        filter: blur(8px);
      }
      @include tlxl{
        transform: 
          translateX(-50%)
          translateY(-840%)
          rotate(-180deg);
        filter: blur(8px);
      }
    }
    .photography .photography__camera{
      transform: translateX(0%);
    }
    .photography .photography__camera-ins{
      &:after{
        opacity: 1;
        background-color: #333333;
      }
    }
    .photography .photography__rig-inside{
      transform: translateX(0%);
    }
    .photography .photography__rig{
      transform: translate(0);
      filter: blur(8px);
    }
    .photography .photography_brick{
      transform: translate(0);
    }
    .photography .photography__blitz{
      animation: blitz .5s linear 3s;
    }
    .software{
      .visualisation__brick{
        width: 52vw;
        top: -100vh;
        padding-bottom: 75%;
      }
    }
  }
  &_4{
    transform: translateY(-300vh);
    .slide-section__decor.box{
      transform: rotate(180deg) translateY(-14%);
    }
    .home__photograph{
      .slide-section__text{
        transform: translateY(0);
      }
    }
    .box_brick{
      transform: 
        translateX(-50%) 
        translateY(-48vw) 
        rotate(-180deg);
      filter: blur(8px);
      @include desktoplg{
        transform: 
          translateX(-50%)
          translateY(-650%)
          rotate(-180deg);
        filter: blur(8px);
      }
      @include tlxl{
        transform: 
          translateX(-50%)
          translateY(-840%)
          rotate(-180deg);
        filter: blur(8px);
      }
    }
    .photography .photography__camera{
      transform: translateX(0%) translateY(-30%);
      &:after{
        opacity: 1;
        background-color: #333333;
      }
    }
    .photography .photography__rig{
      transform: translate(0);
      filter: blur(8px);
    }
    .photography .photography_brick{
      transform: translate(-4vw, 90vh);
      opacity: 0;
    }
    .home__visualisation{
      .slide-section__text{
        transform: translateY(0)
      }
    }
    .software{
      .visualisation__brick{
        width: 52vw;
        top: -100vh;
        padding-bottom: 75%;
      }
    }
  }

  &_3.animation-lstep_4{
    .software{
      .visualisation__wall{
        opacity: 1;
        transition: opacity 0s ease 3s;
      }
      .visualisation__wall-big{
        width: 186vw;
        transition: $speed ease-in-out;
      }
    }
    .visualisation__door-wrapper{
      transform: translateX(-100%);
      transition: transform 2s ease;
    }
  }
  &_4.animation-lstep_3{
    .visualisation__wall{
      opacity: 0;
      transition: 0s ease 3s;
    }
    .software{
      .visualisation__wall-big{
        // animation: wall 2s ease 3s forwards;
        width: 80vw;
        transition: 2s ease-in-out 3s;
      }
      .visualisation_brick-single{
        transform: translateX(-50%) translateY(17.8vw);
        opacity: 1;
        visibility: hidden;
        // animation: opac .4s ease 3s forwards;
      }
    }
    .visualisation__door-wrapper{
      transform: translateX(0);
      transition: transform 1.4s ease 4s;
    }
  }
  &_4.animation-lstep_5{
    .software{
      .visualisation__brick{
        width: 52vw;
        top: -100vh;
        padding-bottom: 75%;
        left: 0;
      }
      .visualisation__wall{
        opacity: 0;
      }
      .visualisation__wall-big{
        width: 80vw;
        transition: $speed ease-in-out;
      }
      .visualisation__door-wrapper{
        transform: translateX(0);
        width: 58vw;
        transition: $speed ease-in-out;
      }
      .visualisation__dotted{
        opacity: 1;
      }
    }
  }
  &_5{
    transform: translateY(-400vh);
    .home__software{
      &.oh{
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
  &_5.animation-lstep_4{
    .software{
      .visualisation__wall{
        opacity: 0;
      }
      .visualisation__brick{
        width: 66.6%;
        top: 1.5vw;
        left: 11.3vw;
        padding-bottom: 57%;
      }
      .visualisation__wall-big{
        width: 106%;
        left: 0;
        z-index: 3;
        transition: $speed ease-in-out;
      }
      .visualisation__door-wrapper{
        transform: translateX(0);
        width: 23vw;
        transition: $speed ease-in-out;
      }
      .visualisation__dotted{
        opacity: 0;
      }
    }
  }
}
.slide-section__text{
  transition: $speed ease-in-out;
  position: relative;
  z-index: 3;
}
.home__hero-img{
  @include centered(y);
  left: 0;
  top: 48%;
  @include tabletPortrait{
    left: 60%;
    transform: translate(-50%, 0);
    top: 0;
  }
  @include tablet{
    top: 6%;
  }
  @include tabletLandscape{
    top: 48%;
  }
  img{
    max-height: 106vh;
    @include tabletPortrait{
      max-height: initial;
      max-width: initial;
      height: 60vh;
    }
    @include tablet{
      height: 90vw;
    }
    @include tabletLandscape{
      max-height: 90vh;
    }
  }
}
.home__hero{
  .slide-section__text{
    margin-top: -5vw;
    left: 55vw;
    @include tabletPortrait{
      margin-top: 47vw;
      left: 0;
      text-align: center;
      width: 100%;
    }
  }
}
.home__send{
  .slide-section__content{
    margin-top: 30vh;
    height:calc(100vh - 30vh)
  }
}
.slide-section__decor.box{
  width: 47vw;
  margin-left: 4vw;
  transition: $speed ease-in-out;
}
.box__back,
.box__front{
  margin-top: 2vw;
  width: 100%;
  @include centered;
}
.box__back{
  z-index: 1;
}
.box__front{
  z-index: 3;
}
.box_brick{
  width: 26vw;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translateX(-50%) translateY(-200vh) rotate(-90deg);
  z-index: 2;
  transition: $speed ease-in-out, filter .2s ease-in-out 2s ;;
}

.home__photograph{
  .slide-section__step,
  .slide-section__text{
    padding-top: 30vh;
  }
  .slide-section__text{
    transform: translateY(-10%)
  }
}
.photography{
  width: 55vw;
  .photography__rig{
    width: calc(100% + 8vw);
    position: absolute;
    top: 7vw;
    left: -11%;
    transform: translate(8%, -12%);
    transition: $speed ease-in-out, filter .2s ease-in-out 2s ;
    @include desktoplg{
      top: 10vw;
    }
    @include tlxl{
      top: 16vw
    }
  }
  .photography__camera{
    width: calc(100% + 6vw);
    position: absolute;
    bottom: -21vw;
    right: -14vw;
    transform: translateX(100%);
    transition: $speed ease-in-out;
    
  }
  .photography__camera-ins{
    width: 21.5vw;
    height: 14.3vw;
    position: absolute;
    top: 15vw;
    left: 18vw;
    overflow: hidden;
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: $speed ease-in-out, background-color .4s linear 3s;
    }
  }
  .photography__rig-inside{
    position: absolute;
    width: 19vw;
    top: 1vw;
    left: 1.3vw;
    z-index: 3;
  }
  .photography_brick{
    width: 11vw;
    position: absolute;
    top: 4vw;
    left: 5.3vw;
    z-index: 4;
    transform: translateY(-30vw);
    transition: $speed ease-in-out;
  }
  .photography__blitz{
    width: 100vw;
    height:100vw;
    background: radial-gradient(circle, $white, rgba($white, 0) 60%);
    @include centered;
    margin-left: 5vw;
    opacity: 0;
  }
}
.home__visualisation{
  .slide-section__step,
  .slide-section__text{
    padding-top: 35vh;
  }
  .slide-section__text{
    transform: translateY(10%)
  }
}
.visualisation{
  width: 52vw;
  margin-left: 8vw;
  .visualisation__window{
    width: 100%;
    position: absolute;
    bottom: 5vw;
    left: 0;
  }

}
.home__software{
  height: 100vh;
  .slide-section__content{
    height: 30vh;
  }
  .slide-section__step,
  .slide-section__text{
    padding-top: 30vh;
  }
}
.software{
  width: 92vw;
  right: -14vw;
  margin-top: 7vw;
  @include centered(y);
  .software__monitor{
    width: 100%;
    position: relative;
    z-index: 4;
    img{
      width: 100%;
    }
  }
  .visualisation__brick{
    position: absolute;
    width: 37.6%;
    top: 0;
    left: 0;
    padding-bottom: 32%;
    overflow: hidden;
    transition: $speed ease-in-out;
  }
  .visualisation__wall{
    position: absolute;
    height: 88%;
    z-index: 3;
    top: 54.7%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 96%;
    img{
      height: 100%;
      width: auto;
    }
  }
  .visualisation__wall-big{
    position: absolute;
    bottom: 2.2%;
    left: 4%;
    width: 186vw;
    z-index: 2;
    img{
      max-width: initial;
    }
  }
  .visualisation_brick-single{
    width: 11vw;
    position: absolute;
    z-index: 3;
    top: -100vh;
    left: 48.3%;
    transform: translateX(-3%) translateY(-40vw);
    opacity: 1;
    z-index: 4;
    transition: $speed ease-in-out, opacity .6s ease-in-out .8s, visibility 0s ease 3s;
    opacity: 0;
  }
  .visualisation__door-wrapper{
    position: absolute;
    left: 0;
    bottom: 2%;
    z-index: 3;
    width: 58vw;
    transform: translateX(-100%);
  }
  .visualisation__door{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .visualisation__dotted{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55%;
    z-index: 2;
    transition: .6s ease-in-out;
  }
  .visualisation__brick-wrapper{
    width: 52vw;
    position: absolute;
    padding-bottom: 44%;
    right: 18vw;
  }
  .visualisation__window{
    width: 100%;
    position: absolute;
    top: -100vh;
    right: 0;
    z-index: 4;
  }
}

// .software{
//   height: 100vh;
//   .software__monitor{
//     position: absolute;
//     @include centered;
//     width: 85vw;
//     bottom: -13vw;
//     left: 33vw;
//     z-index: 3;
//   }
// }



@keyframes blitz {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}


@keyframes opac {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes wall {
  0%{z-index: 3;}
  10%{width: 186vw}
  100%{width: 80vw; z-index: 3;}
}
@keyframes wallreverse {
  0%{z-index: 3;width: 80vw}
  90%{z-index: 3;}
  100%{width: 186vw; z-index: 1;}
}